# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Python cache
*.pyo
*.pyd

# Logs
*.log

# Local data files
*.sqlite3
*.db

# PyInstaller
*.spec

# Jupyter
.ipynb_checkpoints/

# MyPy
.mypy_cache/

# Coverage
htmlcov/
.coverage
.coverage.*

# Pytest
.pytest_cache/

# Build
build/
dist/
*.egg-info/
